extends layout

block content
    .container
        .actions
            a(href="/brand/create")
                img(src="/images/plus.svg")
            a.edit(href=brand.url + "/update")
                img(src="/images/edit.svg")
            a.delete(href=brand.url + "/delete")
                img(src="/images/trash.svg")
        .detail-header
            h1= brand.name
            img(src="/uploads/logos/" + brand.logo)
        .product-grid
            for prod in products
                a.prod-grid-item(href=prod.url)
                    img(src="/uploads/products/" + prod.image)
                    p= prod.brand.name
                    if prod.name.length > 30
                        h2= prod.name.substr(0, 28) + "…"
                    else
                        h2= prod.name
                    p= prod.price.split(".")[0]
                        small
                            sup= prod.price.split(".")[1]