extends layout

block content
    .container
        .actions
            a(href="/category/create")
                img(src="/images/plus.svg")
            a.edit(href=category.url + "/update")
                img(src="/images/edit.svg")
            a.delete(href=category.url + "/delete")
                img(src="/images/trash.svg")
        .detail-header
            img.detail(src="https://source.unsplash.com/1280x720/?"+category.name)
            h1= category.name
        .product-grid
            for prod in products
                a.prod-grid-item(href=prod.url)
                    img(src="/uploads/products/" + prod.image)
                    p= prod.brand.name
                    if prod.name.length > 30
                        h2= prod.name.substr(0, 28) + "…"
                    else
                        h2= prod.name
                    p= prod.price.split(".")[0]
                        small
                            sup= prod.price.split(".")[1]